# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
*.env
/venv/*

# VS Code
.vscode/

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*

# Logs
*.log

# IDEs
.idea/
*.swp

# System
Thumbs.db

# Others
*.bak
*.tmp